:root {
    --playfair-display: "Playfair Display";
    --montserrat: "Montserrat";
    --inter: "Inter";

    --soft-green: #047377;
    --soft-green-transparent: #047377d7;
    --black-transparent: rgba(0, 0, 0, 0.3);
}

body {
    margin: 0;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    background-image: linear-gradient(
            to right,
            var(--soft-green-transparent),
            transparent
        ),
        url(../images/new-york.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Util */

.primary-heading {
    margin: 0;
    padding: 0;

    font-family: var(--inter);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4rem;
    color: white;
}

.secondary-heading {
    margin: 0;
    padding: 0;

    font-family: var(--inter);
    font-weight: 900;
    font-size: 3rem;
    color: white;
}

/* --- Top bar --- */

header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.7);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header__logo img {
    width: 4em;
    size: 4em;
}

.header__logo h1 {
    margin: 0;
    padding: 0;

    font-family: var(--playfair-display);
    font-style: italic;
    font-size: 1.2rem;
    color: white;
}

.header__menu {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 2em;
}

.header__menu a {
    font-family: var(--montserrat);
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.header__search {
    display: flex;
    align-items: center;
    gap: 1em;

    background-color: white;
    border-radius: 2em;

    padding: 0.5em 1em;
}

.header__search input {
    border: none;
    outline: none;
    background: transparent;

    color: var(--soft-green);

    width: 15em;
}

.header__search input::placeholder {
    color: var(--soft-green);
}

.header__search img {
    color: black;
}

.header__search button {
    border: none;
    outline: none;

    padding: 0.5em 1em;

    background-color: var(--soft-green);

    border-radius: 0.5em;

    color: white;

    cursor: pointer;
}

.header__search-results {
    position: absolute;
    top: 5em;
    right: 2em;

    max-height: calc(100vh - 5em);

    overflow-y: auto;

    border-radius: 0.5em;
}

.header__search-result {
    display: flex;
    flex-direction: column;

    margin-bottom: 1em;

    overflow: hidden;

    max-width: 30em;

    background-color: white;

    border-radius: 0.5em;
}

.header__search-result img {
    width: 100%;
    max-height: 15em;
    object-fit: cover;
}

.header__search-result .search-content {
    padding: 1em;

    font-family: var(--montserrat);

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header__search-result .search-content p {
    padding: 0;
    margin: 0;

    font-family: var(--montserrat);
}

.header__search-result .search-content p:nth-child(1) {
    font-weight: bold;
    font-size: 1.5em;
}

.header__search-result .search-content button {
    width: fit-content;

    padding: 0.5em 1em;

    border: none;

    background-color: var(--soft-green);

    color: white;

    border-radius: 0.5em;

    cursor: pointer;
}

/* --- Main --- */

main {
    display: flex;
    align-items: center;
    gap: 4em;

    height: 100%;
}

/* Main Sidebar */

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;

    padding: 0 1em;
}

.social-line {
    flex: 0.3;

    border-left: 2px solid white;
}

.social ul {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 0.3;
}

.social-icon {
    width: 2em;
    height: 2em;

    object-fit: contain;
}

/* Home */

.home {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.home p {
    font-family: var(--montserrat);
    color: white;

    max-width: 20em;
}

.home__cta-btn {
    margin: 0;
    padding: 0.8em 2em;

    width: fit-content;

    outline: 0.3em solid rgba(255, 255, 255, 0.3);
    border: none;

    background: var(--soft-green);

    border-radius: 0.3em;

    color: white;

    font-family: var(--inter);
    font-weight: bold;
    text-transform: uppercase;
}

/* About Us */

.about-us {
    display: flex;
    flex-direction: column;
    gap: 2em;

    margin-right: 4em;
}

.about-us p {
    margin: 0;

    font-family: var(--montserrat);
    color: white;
}

.about-us > p {
    padding: 1.5em;

    background-color: var(--black-transparent);

    border-radius: 0.2em;
}

.our-team {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8em;

    align-self: flex-end;
}

.our-team__members {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
}

.our-team__member {
    padding: 2em;

    background-color: var(--black-transparent);

    border-radius: 0.2em;

    max-width: 12em;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.our-team__member p:nth-child(1) {
    padding: 0;
    font-weight: bold;
}

.our-team__member p:nth-child(2) {
    padding: 0;
    color: rgba(255, 255, 255, 0.6);
}

.our-team__member-job {
    width: 100%;

    padding: 0.5em 0;

    background-color: #274385;

    font-weight: bold;
    text-align: center;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.5em;
}

/* Contact Us */

.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6em;

    width: 100%;

    margin-right: 4em;
}

.contact-side p {
    font-family: var(--montserrat);
    color: white;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;

    background-color: var(--black-transparent);

    font-family: var(--montserrat);
    color: white;

    padding: 1.5em;

    border-radius: 0.5em;
}

.contact-form input,
textarea {
    outline: none;
    background: none;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.5em;

    padding: 0.5em;

    color: white;
}

.contact-form input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.contact-form button {
    border: none;
    border-radius: 0.5em;

    padding: 0.5em 0;
    background-color: var(--soft-green);

    color: white;
}
